<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.guidoferreyra.Obfuscator</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Obfuscator</string>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.2</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/guidoferreyra/Obfuscator/master/Obfuscator.glyphsFilter/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/guidoferreyra/Obfuscator</string>
	<key>productReleaseNotes</key>
	<string>circumventing a bug where self.menuName is not accessible in build 3051</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Guido Ferreyra, 2016</string>
	<key>NSPrincipalClass</key>
	<string>Obfuscator</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
